.hotelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.hDistance {
  font-size: 15px;
}
.bookNow {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  padding: 10px 20px;
  background-color:#2196f3;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.hotelTitle {
  font-size: 24px;
}

.hotelAddress {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotelDistance {
  color: #0071c2;
  font-weight: 500;
}

.hotelPriceHighlight {
  color: #008009;
  font-weight: 500;
}

.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelImgWrapper {
  width: 33%;
}

.hotelImg {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.hotelDetailsTexts {
  flex: 3;
}

.hotelDesc {
  font-size: 14px;
  margin-top: 20px;
}

.hotelDetailsPrice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotelDetailsPrice > h1 {
  font-size: 18px;
  color: #555;
}
.hotelDetailsPrice > span {
  font-size: 14px;
}
.hotelDetailsPrice > h2 {
  font-weight: 300;
}
.hotelDetailsPrice > button {
  border: none;
  padding: 10px 20px;
  background-color:#2196f3;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.slider{
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.613);
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg{
  width: 80%;
  height: 80vh;
}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.arrow{
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}
  
  .bookNow {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    padding: 10px 20px;
    background-color:#2196f3;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hotelTitle {
    font-size: 24px;
  }
  
  .hotelAddress {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .hotelDistance {
    color: #0071c2;
    font-weight: 500;
  }
  
  .hotelPriceHighlight {
    color: #008009;
    font-weight: 500;
  }
  
  .hotelImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .hotelImgWrapper {
    width: 33%;
  }
  
  .hotelImg {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .hotelDetails {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .hotelDetailsTexts {
    flex: 3;
  }
  
  .hotelDesc {
    font-size: 14px;
    margin-top: 20px;
  }
  
  .hotelDetailsPrice {
    flex: 1;
    background-color: #ebf3ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .hotelDetailsPrice > h1 {
    font-size: 18px;
    color: #555;
  }
  .hotelDetailsPrice > span {
    font-size: 14px;
  }
  .hotelDetailsPrice > h2 {
    font-weight: 300;
  }
  .hotelDetailsPrice > button {
    border: none;
    padding: 10px 20px;
    background-color:#2196f3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .slider{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.613);
    z-index: 999;
    display: flex;
    align-items: center;
  }
  
  .sliderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sliderImg{
    width: 80%;
    height: 80vh;
  }
  
  .close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
  }
  
  .arrow{
    margin: 20px;
    font-size: 50px;
    color: lightgray;
    cursor: pointer;
  }
  .End_Page{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 30px;
  }

    .hotelReviews {
      margin-top: 30px;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
    }
  
    .reviewCard {
      border-bottom: 1px solid #eee;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .reviewCard:last-child {
      border-bottom: none;
    }
  
    .reviewUser {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  
    .reviewUser img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #0071c2;
    }
  
    .reviewUser .userName {
      font-weight: bold;
      font-size: 16px;
      color: #333;
    }
  
    .reviewStars {
      color: #febb02;
      /* لون النجوم الذهبي */
      display: flex;
      gap: 2px;
    }
  
    .reviewComment {
      font-size: 14px;
      color: #555;
      line-height: 1.6;
    }
  
    .reviewDate {
      font-size: 12px;
      color: #999;
    }